@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Root CSS */
:root {
    --primary-color: rgb(87, 162, 255);
    --light-gray: rgb(220, 220, 220);
    --gray-bg: rgb(248, 248, 248);
    --hover: rgb(46, 122, 216);
    --white: rgb(255, 255, 255);
    --dark: rgb(0, 0, 0); 
    --error: rgb(231, 76, 60);

    --heading-lg: 48px;
    --heading-sm: 20px;
    --btn-text: 20px;
    --text: 18px;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--text);
}

h4 {
    font-size: var(--heading-sm);
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}

img {
    width: 100%;
}

input[type=text] {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 15px;
    background-color: var(--light-gray);
    border: 0;
    border-radius: 4px;
}
/* 
label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn-primary {
    background: var(--primary-color);
    border: none;
    color: var(--white);
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn-primary:hover {
    background-color: var(--hover);
}

/* Site Title */
.site-heading {
    color: var(--primary-color);
    font-size: var(--heading-lg);
    text-align: center;
    padding: 20px 0;
}

/* Expenses Area Style */
.expenses-container {
    display: flex;
    padding-bottom: 50px;
    gap: 50px;
}

.expenses-form {
    padding: 30px;
    background-color: var(--gray-bg);
}

.button {
    text-align: center;
}

.income, .expenses {
    margin-bottom: 15px;
}

.savings-section {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}

.savings {
    display: flex;
    align-items: center;
    gap: 10px;
}

#save-input {
    width: 70%;
    margin-bottom: 0;
}

.error {
    font-size: 13px;
    color: var(--error);
    text-align: left;
}

/* Mobile responsive */
@media only screen and (max-width: 688px) {
    .container {
        max-width: 350px;
    }

    .site-heading {
        font-size: var(--heading-sm);
    }

    .expenses-container {
        flex-direction: column;
    }
}